/* Barra laterale */
.sidebar {
    width: 250px;
    background: var(--bg-color);
    border-right: 1px solid #ccc;
    padding: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
